TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_CHAT_ID=
TELEGRAM_ALLOWED_USERNAME=OxVoyd
AI_PROVIDER=openai
OPENAI_BASE_URL=https://api.openai.com/v1
GOOGLE_GENERATIVE_LANGUAGE_BASE_URL=https://generativelanguage.googleapis.com/v1beta
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
EMBEDDING_PROVIDER=gemini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
GEMINI_API_KEY=
GEMINI_EMBEDDING_MODEL=gemini-embedding-001
GEMINI_MODEL=gemini-2.5-flash
LINEAR_API_KEY=
